.form {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-item {
    margin: 50px 0;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="date"],
select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #9a61bb;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #9a61bb;
}

input[type="reset"] {
    padding: 10px 20px;
    background-color: #ef5348;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #ef3d30;
}

.left-section, .right-section {
    width: 48%;
    float: left;
}

@media (max-width: 768px) {
    .left-section,
    .right-section {
        width: 100%;
    }
}